/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
}

/* Header styles */
.header {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}

/* Main styles */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
  color: #003366;
}

.card p {
  margin: 10px 0;
  color: #333;
}

/* Skills styles */
.skills {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.skills h2 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills li {
  margin-bottom: 10px;
  color: #333;
}

/* Education styles */
.education {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.education h2 {
  margin-bottom: 10px;
  color: #003366;
}

.education ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.education li {
  margin-bottom: 10px;
  color: #333;
}

.education li span {
  font-weight: bold;
}

/* Work experience styles */
.work {
    background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.work h2 {
  margin-bottom: 10px;
  color: #003366;
}

.work ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work li {
  margin-bottom: 10px;
  color: #333;
}

.work li span {
  font-weight: bold;
}
