/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Fondo claro para el cuerpo */
    color: #343a40; /* Texto oscuro para mejorar la legibilidad */
}

.container {
    margin-top: 20px;
}

/* Navbar */
.navbar {
    background-color: #343a40; /* Fondo oscuro para el navbar */
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #61dafb; /* Color claro que brinda suficiente contraste y sigue el esquema de colores */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #61dafb; /* Color del icono del botón de navegación */
}

.navbar-dark .navbar-toggler {
    border-color: #61dafb; /* Color del borde del botón de navegación */
}

/* Carousel (elemento interactivo) */
.carousel-inner img {
    width: 100%;
    height: auto;
}

/* Resumen de servicios */
h2 {
    color: #343a40; /* Color de los subtítulos */
}

/* Lista de servicios */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Botones y estilos para servicios específicos */
.btn-service {
    background-color: #61dafb;
    color: #343a40;
    border: 1px solid #61dafb;
}

/* Footer */
.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: #343a40; /* Fondo oscuro para el footer */
    color: #61dafb; /* Texto en color claro */
    text-align: center;
}
